<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Salas Disponibles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Salas Disponibles</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Salas Disponibles</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Reservas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Reservas</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Historial</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Historial</div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-button color="warning" expand="block" routerLink="/home">Volver al Home</ion-button>
</ion-content>
