<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AulaManager
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="person-circle"></ion-icon>
      <ion-input labelPlacement="stacked" label="Usuario" placeholder="usuario@uni.cl"></ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-input [type]="showPassword ? 'text' : 'password'" labelPlacement="stacked" label="Contraseña" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
      <ion-icon slot="end" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-content>
    <div id="EstiloBoton">
    <ion-button size="large" color="warning" expand="block" routerLink="/login">Login</ion-button>
    <br>
    <strong>Necesitas Recuperar la contraseña</strong>
    <ion-button color="warning" expand="block" routerLink="/Recuperar">Recuperar Contraseña</ion-button>
    <br>
    <strong> ¿No tienes cuenta? ¡Registrate! </strong>
    <ion-button color="warning" expand="block" routerLink="/registro">Registro</ion-button>
    </div>
  </ion-content>
</ion-content>
<ion-footer> 
  <ion-toolbar> 
  <ion-title>Universidad X-men todos los derechos reservados</ion-title>
   </ion-toolbar> 
  </ion-footer>

